/* COLORS */
/* TRANSITIONS */
/* BOX SHADOWS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body,
html {
  background-color: black;
  font-size: 62.5%;
  overflow-x: hidden;
  color: #eff3f7;
}

html,
p,
span {
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  text-transform: uppercase;
}

header,
main,
footer {
  background-color: orangered;
}

.content-area {
  width: 50%;
  margin: 0 auto;
}

button,
.button {
  border: none;
  background-color: #074980;
  color: #eff3f7;
  text-transform: uppercase;
  cursor: pointer;
}

a:link,
a:visited {
  color: #eff3f7;
  transition: all 0.4s;
  text-transform: uppercase;
  text-decoration: none;
}

header {
  color: #eff3f7;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
header a:hover,
header a:active {
  color: #f7b219;
}
header .header-top {
  background-color: #003964;
}
header .header-top .content-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.6rem;
  position: relative;
}
header .header-top .content-area:first-child a {
  margin-left: 1rem;
}
header .header-top .content-area p {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}
header .header-top .content-area p .vertical-divider {
  display: inline-block;
  height: 100%;
  background-color: #eff3f7;
  font-weight: 300;
  margin-left: 2rem;
  margin-right: 2rem;
}
header .header-bottom {
  background-color: #074980;
}
header .header-bottom .content-area {
  background-color: #074980;
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  position: relative;
  box-shadow: 0 5px 0 rgba(34, 34, 34, 0.15);
}
header .header-bottom .content-area img {
  flex-shrink: 1;
  max-width: 15%;
}
header .header-bottom .content-area .input-group {
  width: 50%;
  position: relative;
}
header .header-bottom .content-area .input-group button {
  background-color: #f88824;
  color: #eff3f7;
  padding: 1rem 2rem;
  position: absolute;
  font-size: 3.5rem;
  top: 0;
  right: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .header-bottom .content-area .input-group input {
  font-size: 3rem;
  padding: 1.25rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: rgb(97, 97, 97);
}
header .header-bottom .content-area .input-group input::-moz-placeholder {
  text-transform: uppercase;
  letter-spacing: 1px;
}
header .header-bottom .content-area .input-group input:-ms-input-placeholder {
  text-transform: uppercase;
  letter-spacing: 1px;
}
header .header-bottom .content-area .input-group input::placeholder {
  text-transform: uppercase;
  letter-spacing: 1px;
}

main {
  /* PETS SECTION */
  /* ABOUT DOGGO SECTION */
  /* TOP RECOMMENDATIONS */
  /* ABOUT PAWS CITY SECTION */
}
main .hero {
  background-color: #f7b219;
}
main .hero .content-area {
  background: url("/assets/photos/puppy-hero-bg.jpg");
  background-size: 160%;
  background-position: 70% 65%;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 18rem;
  color: #003964;
}
main .hero nav {
  width: 100%;
  color: #eff3f7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 0 rgba(34, 34, 34, 0.15);
  top: 0;
  font-family: "Roboto Slab", serif;
}
main .hero nav ul {
  display: flex;
  /* STYLES FOR NAVIGATION MENU ITEMS */
}
main .hero nav ul li {
  flex-grow: 1;
  flex-basis: 20%;
  font-size: 2.5rem;
  text-align: center;
  padding: 3rem 0;
  font-weight: bold;
}
main .hero nav ul .menu-dogs {
  background-color: #f85c62;
}
main .hero nav ul .menu-cats {
  background-color: #8560a6;
}
main .hero nav ul .menu-birds {
  background-color: #f88824;
}
main .hero nav ul .menu-fish {
  background-color: #3f9ce0;
}
main .hero nav ul .menu-reptiles {
  background-color: #39b173;
}
main .hero h1 {
  font-size: 4.2rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 50%;
  margin-top: 10rem;
}
main .hero p {
  margin: 6rem 0;
  width: 45%;
  font-size: 2rem;
}
main .hero [data-id=schedule-button] {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 6rem;
  border-radius: 20px;
  font-family: "Roboto Slab", serif;
  transition: all 0.4s;
}
main .hero [data-id=schedule-button]:hover {
  transition: all 0.4s;
  transform: translateY(-0.5rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
main .pet-types {
  background-color: #eff3f7;
  padding: 10rem 0;
}
main .pet-types .content-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 400px;
  grid-template-areas: "dogs dogs cats" "birds fish reptiles";
  gap: 2.5rem;
  color: #eff3f7;
}
main .pet-types .pet-type-card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
}
main .pet-types .pet-type-card .card-info {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
main .pet-types .pet-type-card .card-info h2 {
  font-size: 4rem;
  margin-bottom: -1rem;
}
main .pet-types .pet-type-card .card-info p {
  font-size: 1.5rem;
  margin: 2rem 0;
  text-shadow: 1px 1px 2px #222;
}
main .pet-types .pet-type-card .card-info .button {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 3rem;
  font-size: 2rem;
  font-family: "Roboto Slab", serif;
  border: 2px solid #eff3f7;
  border-radius: 10px;
  transition: all 0.4s;
}
main .pet-types .pet-dogs {
  background: url("/assets/photos/dogs.jpg");
  background-size: 160%;
  background-position: 10% 72.5%;
  grid-area: dogs;
}
main .pet-types .pet-cats {
  background: url("/assets/photos/cats.jpg");
  background-size: 160%;
  background-position: 60% 100%;
  grid-area: cats;
}
main .pet-types .pet-birds {
  background: url("/assets/photos/birds.jpg");
  background-size: 125%;
  background-position: center;
  grid-area: birds;
}
main .pet-types .pet-fish {
  background: url("/assets/photos/fish.jpg");
  background-size: cover;
  background-position: center 20%;
  grid-area: fish;
}
main .pet-types .pet-reptiles {
  background: url("/assets/photos/reptiles.jpg");
  background-size: cover;
  background-position: center;
  grid-area: reptiles;
}
main .about-doggo {
  background-color: #074980;
  padding-top: 5rem;
}
main .about-doggo .content-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
main .about-doggo img {
  display: block;
  width: 100%;
  margin-right: 5rem;
  align-self: end;
}
main .about-doggo .about-info {
  padding-left: 5rem;
}
main .about-doggo .about-info h2 {
  margin-top: 8rem;
  margin-bottom: 5rem;
  font-size: 5rem;
}
main .about-doggo .about-info p {
  font-size: 2rem;
  line-height: 4rem;
}
main .featured-products {
  background-color: #eff3f7;
  text-align: center;
  padding: 15rem 0;
}
main .featured-products h2 {
  color: #074980;
  font-size: 4rem;
}
main .featured-products p {
  color: #222;
  font-size: 2.5rem;
  margin: 5rem 0;
}
main .featured-products h3 {
  color: #222;
  font-size: 2rem;
  margin: 2rem 0;
}
main .featured-products .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
main .featured-products .products .product-card img {
  width: 100%;
}
main .featured-products .products .product-card p {
  margin: 2rem 0;
}
main .featured-products .products .product-card .cart-button {
  width: 100%;
  font-size: 2rem;
  display: block;
  background-color: #f88824;
  padding: 1rem 0;
  border-radius: 10px;
  transition: all 0.4s;
}
main .featured-products .products .product-card .cart-button:hover {
  background-color: #d5731c;
  box-shadow: 0 5px 0 rgba(34, 34, 34, 0.15);
  transform: translateY(-5px);
}