.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    background-color: $color-white;
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-default;
    color: $color-black;

    padding: 2rem 4rem;

    i {
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $color-green;
      color: darken($color-green, 20%);
      font-size: 16rem;
    }

    h3 {
      font-size: 3rem;
      color: $color-blue;
      text-align: center;
      margin-top: 4rem;
    }

    p {
      font-size: 2rem;
      margin: 4rem 0;
    }

    button {
      width: 50%;
      margin: 10rem auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .modal {
    .modal-content {
      width: 80%;
      height: 80%;

      i {
        width: 100px;
        height: 100px;
        font-size: 8rem;
      }

      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 1.6rem;
        margin: 2rem 0;
        font-weight: 300;
      }

      button {
        margin: 5rem 0;
        width: 75%;
      }
    }
  }
}
