// @import "../abstracts/variables";

main {
  .hero {
    background-color: $color-yellow;

    .content-area {
      background: url("/assets/photos/puppy-hero-bg.jpg");
      background-size: 350%;
      background-position: 70% 60%;
      background-repeat: no-repeat;
      height: 100%;
      padding-bottom: 25rem;
      color: $color-blue-dark;
    }

    nav {
      position: fixed;
      top: -110vh;
      height: 100vh;
      width: 100%;
      color: $color-white;
      overflow: hidden;
      z-index: 1;
      transition: $transition-default;
      font-family: $font-serif;

      &.nav-active {
        top: 0;
      }

      .menu-button {
        position: fixed;
        top: 8%;
        right: 3%;
        color: $color-blue;
        height: 7.5rem;
        width: 7.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-yellow;
        border-radius: 50%;
        padding: 1rem;
        z-index: 1;
        font-size: 4rem;

        i {
          pointer-events: none;
        }
      }

      ul {
        height: 100%;
        display: grid;

        a {
          font-size: 2.5rem;
          font-weight: bold;

          li {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3rem 0;
            transition: $transition-default;
            text-align: center;
          }
        }

        /* STYLES FOR NAVIGATION MENU ITEMS */

        .menu-dogs {
          background-color: $color-red;

          &:hover {
            background-color: darken($color-red, 10%);
          }
        }

        .menu-cats {
          background-color: $color-purple;

          &:hover {
            background-color: darken($color-purple, 10%);
          }
        }

        .menu-birds {
          background-color: $color-orange;

          &:hover {
            background-color: darken($color-orange, 10%);
          }
        }

        .menu-fish {
          background-color: $color-blue-light;

          &:hover {
            background-color: darken($color-blue-light, 10%);
          }
        }

        .menu-reptiles {
          background-color: $color-green;

          &:hover {
            background-color: darken($color-green, 10%);
          }
        }
      }
    }

    /* HERO SECTION */

    h1 {
      padding: 0 1.5rem;
      margin-top: 10rem;

      font-size: 3rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    p {
      margin: 1rem 0;
      padding: 0 1.5rem;
      font-size: 1.5rem;
      font-weight: 400;
    }

    [data-id="schedule-button"] {
      padding: 2rem 6rem;
      border-radius: $border-radius-default;
      margin: 4rem auto;
      display: block;
      transition: $transition-default;

      font-family: $font-serif;
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  /* PETS SECTION */
  .pet-types {
    background-color: $color-white;

    .content-area {
      display: flex;
      flex-direction: column;
    }

    .pet-type-card {
      position: relative;
      height: 50rem;
      width: 100%;
      padding: 2rem;

      .card-info {
        position: absolute;
        bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h2 {
          margin-bottom: -1rem;
        }

        p {
          margin: 2rem 0;
          font-size: 1.5rem;
          text-shadow: 1px 1px 2px $color-black;
        }

        .button {
          background-color: rgba(0, 0, 0, 0.7);
          padding: 1rem 3rem;
          border: 2px solid $color-white;
          border-radius: $border-radius-small;
          transition: $transition-default;

          font-size: 2rem;
          font-family: $font-serif;

          &:hover {
            background-color: rgba($color-blue-light, 0.85);
          }
        }
      }
    }

    .pet-dogs {
      background: url("/assets/photos/dogs.jpg");
      background-size: 250%;
      background-position: 5% 72.5%;
      grid-area: dogs;
    }

    .pet-cats {
      background: url("/assets/photos/cats.jpg");
      background-size: cover;
      background-position: 60% 100%;
      background-repeat: no-repeat;
      grid-area: cats;
    }

    .pet-birds {
      background: url("/assets/photos/birds.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      grid-area: birds;
    }

    .pet-fish {
      background: url("/assets/photos/fish.jpg");
      background-size: cover;
      background-position: center 20%;
      grid-area: fish;
    }

    .pet-reptiles {
      background: url("/assets/photos/reptiles.jpg");
      background-size: cover;
      background-position: center;
      grid-area: reptiles;
    }
  }

  /* ABOUT DOGGO SECTION */
  .about-doggo {
    background-color: $color-blue;
    padding-top: 5rem;

    .content-area {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    img {
      width: 100%;
      display: block;
      order: 1;
      align-self: end;
    }

    .about-info {
      h2 {
        margin-top: 8rem;
        margin-bottom: 5rem;
        text-align: center;
      }

      p {
        font-size: 2rem;
        font-weight: 300;
        line-height: 3.5rem;
      }
    }
  }

  /* TOP RECOMMENDATIONS */
  .featured-products {
    background-color: $color-white;
    padding: 15rem 1rem;
    text-align: center;

    h2 {
      color: $color-blue;
      font-size: 3rem;
    }

    p {
      color: $color-black;
      margin: 5rem 0;
      font-size: 2rem;
      font-weight: 300;
    }

    h3 {
      color: $color-black;
      margin: 2rem 0;
      font-size: 2rem;
    }

    .products {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 8rem;
      justify-items: center;

      .product-card {
        width: 75%;

        img {
          width: 100%;
        }

        p {
          margin: 2rem 0;
        }
      }
    }
  }

  /* ABOUT PAWS CITY SECTION */
  .about-us {
    background-color: $color-red;

    .content-area {
      padding-bottom: 10rem;
      display: grid;
      align-items: center;
    }

    h2 {
      margin: 6rem 0;
      padding: 0 2.5rem;

      font-size: 3rem;
      text-align: center;
    }

    p {
      line-height: 4rem;
      padding: 0 1.5rem;

      font-size: 1.8rem;
      font-weight: 300;
    }

    img {
      width: 100%;
      display: block;
      order: -1;
    }
  }

  /* TESTIMONIALS SECTION */
  .testimonials {
    background-color: $color-white;

    .content-area {
      width: 80%;
      padding: 10rem 0;
      position: relative;
      text-align: center;

      h2 {
        color: $color-blue;
        font-size: 3rem;
      }

      p {
        color: $color-black;
        margin: 6rem 0;

        font-size: 2rem;
        font-weight: 300;
        line-height: 3rem;
      }

      .testimonial {
        background-color: #fff;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 2.5rem;
        border-radius: $border-radius-default;
        border: 2px solid $color-orange;
        box-shadow: $shadow-default;

        &-text {
          flex-basis: 60%;
          text-align: left;
        }

        p {
          line-height: 2.5rem;
        }

        p:last-of-type {
          font-weight: bold;
          font-family: $font-serif;
          text-align: center;
          font-size: 2.5rem;
        }

        &-photo {
          height: 250px;
          width: 250px;
          border-radius: 50%;
          background: url("/assets/photos/testimonial-elaineb.jpg");
          background-size: cover;
          background-position: center;
        }

        .next-button,
        .previous-button {
          display: none;
        }
      }
    }
  }

  /* CONTACT SECTION */
  .contact-us {
    background-color: $color-purple;
    padding: 0 4rem;
    font-size: 2rem;

    .content-area {
      padding: 10rem 0;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 3rem;
        margin-bottom: 6rem;
      }

      .contact-info {
        flex-basis: 50%;

        h3:nth-of-type(2) {
          margin-top: 6rem;
        }

        address {
          text-transform: uppercase;
          line-height: 3rem;
          margin-bottom: 3rem;
          font-style: normal;
        }

        p {
          margin-bottom: 1rem;
        }

        .social-icons {
          display: flex;
          margin-bottom: 10rem;
          justify-content: space-between;

          a {
            height: 60px;
            width: 60px;
            display: inline-block;
            color: $color-purple;
            background-color: $color-purple-light;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: $transition-default;
            font-size: 3rem;

            &:not(:last-of-type) {
              margin-right: 1.5rem;
            }

            &:hover {
              background-color: $color-white;
            }
          }
        }
      }

      .contact-form {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;

        .input-group {
          position: relative;

          .invalid-alert {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 1.5rem;
            font-weight: 400;
          }
        }

        label {
          margin-bottom: 1rem;
          font-size: 1.6rem;
          text-transform: uppercase;
        }

        input,
        textarea {
          width: 100%;
          color: $color-black;
          padding: 1rem 2rem;
          margin-bottom: 3rem;
          border: 2px solid transparent;
          border-radius: $border-radius-tiny;

          font-family: $font-sans;
          font-size: 1.5rem;
        }

        textarea {
          resize: none;
        }

        button {
          margin-top: 2rem;
          font-weight: 600;
        }
      }
    }
  }
}

/* MISC MOBILE PHONE STYLES */
@media screen and (max-width: 400px) {
  main {
    .hero {
      .content-area {
        nav {
          .menu-button {
            top: 10%;
          }
        }
      }
    }
  }
}

/* TABLET STYLES */

@media screen and (min-width: 600px) {
  main {
    .hero {
      .content-area {
        width: 100%;
        background-size: 200%;
        background-position: 70% 40%;

        h1 {
          width: 60%;
          margin-left: 2rem;
          font-size: 4rem;
        }

        p {
          width: 60%;
          margin: 6rem 0 6rem 2rem;
          font-size: 2rem;
        }

        nav {
          // display: flex;
          position: initial;
          width: 100%;
          height: initial;

          .menu-button {
            display: none;
          }

          ul {
            height: initial;
            display: flex;

            a {
              flex-grow: 1;
              flex-basis: 20%;
            }
          }
        }

        [data-id="schedule-button"] {
          margin-top: 0;
          margin-left: 2rem;
        }
      }
    }

    .pet-types {
      padding: 10rem 0;

      .content-area {
        width: 90%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          "dogs cats"
          "birds fish"
          "reptiles reptiles";
        gap: 4rem;
      }
    }

    .about-doggo {
      .content-area {
        width: 60%;
      }
    }

    .featured-products {
      .products {
        grid-template-columns: repeat(2, 1fr);
      }

      h3 {
        font-size: 1.6rem;
      }
    }

    .about-us {
      .content-area {
        width: 60%;
        padding: 15rem 0;

        h2 span {
          display: none;
        }
      }
    }

    .testimonials {
      .content-area {
        width: 60%;

        .testimonial {
          .next-button,
          .previous-button {
            display: block;
            top: 50%;
            transform: translateY(25%);
          }

          .next-button {
            right: -25%;
          }

          .previous-button {
            left: -25%;
          }
        }
      }
    }

    .contact-us {
      .content-area {
        text-align: center;

        .contact-info {
          .social-icons {
            justify-content: center;
          }
        }

        .contact-form {
          text-align: left;

          input,
          textarea {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

/* LAPTOP & DESKTOP STYLES */

@media screen and (min-width: 1200px) {
  main {
    .hero {
      .content-area {
        width: 50%;
        background-size: 160%;
        background-position: 70% 65%;
        background-repeat: no-repeat;
        padding-bottom: 18rem;

        nav {
          border-bottom-left-radius: $border-radius-default;
          border-bottom-right-radius: $border-radius-default;
          box-shadow: $shadow-default;
        }

        h1 {
          width: 50%;
          padding: 0;

          font-size: 4.2rem;
        }

        p {
          padding: 0;
          width: 45%;
          margin: 6rem 0;

          font-size: 2rem;
          font-weight: inherit;
        }

        [data-id="schedule-button"] {
          padding: 2rem 6rem;
          margin: initial;
          border-radius: $border-radius-default;
          transition: $transition-default;

          font-size: 2.5rem;
          font-weight: bold;

          &:hover {
            background-color: $color-blue-light;
            transition: $transition-default;
            transform: translateY(-0.5rem);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
          }
        }
      }
    }

    .pet-types {
      padding: 10rem 0;

      .content-area {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 400px);
        grid-template-areas:
          "dogs dogs cats"
          "birds fish reptiles";
        gap: 2.5rem;

        .pet-type-card {
          height: 100%;
        }

        .pet-dogs {
          background-size: 160%;
          background-position: 10% 72.5%;
        }
      }
    }

    .about-doggo {
      .content-area {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        img {
          order: 0;
        }

        .about-info {
          margin-left: 5rem;

          h2 {
            text-align: left;
          }

          p {
            font-weight: inherit;
          }
        }
      }
    }

    .featured-products {
      h2 {
        font-size: 4rem;
      }

      p {
        font-size: 2.5rem;
      }

      .products {
        grid-template-columns: repeat(4, 1fr);
        row-gap: initial;
        gap: 2rem;

        .product-card {
          width: 100%;
        }
      }
    }

    .about-us {
      .content-area {
        width: 50%;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10rem;
        padding: 10rem 0;
      }

      h2 {
        padding: 0;
        margin: 0;
        margin-bottom: 6rem;
        font-size: 4rem;
        text-align: left;
      }

      p {
        padding: 0;
        font-size: 2.5rem;
        font-weight: inherit;
      }

      img {
        width: 80%;
        order: 0;
      }
    }

    .testimonials {
      .content-area {
        width: 50%;

        h2 {
          font-size: 4rem;
        }

        p {
          font-size: 2.5rem;
          line-height: initial;
        }

        .testimonial {
          flex-direction: row;

          p {
            line-height: 3rem;
          }

          p:first-of-type {
            font-weight: 400;
          }

          p:last-of-type {
            font-weight: bold;
            font-family: $font-serif;
            text-align: left;
          }

          .next-button {
            right: -10%;
          }

          .previous-button {
            left: -10%;
          }
        }
      }
    }

    .contact-us {
      padding: 0;

      .content-area {
        flex-direction: row;
        text-align: left;

        .contact-info {
          .social-icons {
            margin-bottom: 0;
            justify-content: flex-start;
          }
        }

        .contact-form {
          input,
          textarea {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
