// @import "../abstracts/variables";

main {
  .hero {
    background-color: $color-yellow;

    .content-area {
      background: url("/assets/photos/puppy-hero-bg.jpg");
      background-size: 160%;
      background-position: 70% 65%;
      background-repeat: no-repeat;
      height: 100%;
      padding-bottom: 18rem;
      color: $color-blue-dark;
    }

    nav {
      width: 100%;
      color: $color-white;
      border-bottom-left-radius: $border-radius-default;
      border-bottom-right-radius: $border-radius-default;
      overflow: hidden;
      box-shadow: $shadow-default;
      top: 0;
      font-family: $font-serif;

      ul {
        display: flex;

        li {
          flex-grow: 1;
          flex-basis: 20%;
          font-size: 2.5rem;
          text-align: center;
          padding: 3rem 0;
          font-weight: bold;
        }

        /* STYLES FOR NAVIGATION MENU ITEMS */

        .menu-dogs {
          background-color: $color-red;
        }

        .menu-cats {
          background-color: $color-purple;
        }

        .menu-birds {
          background-color: $color-orange;
        }

        .menu-fish {
          background-color: $color-blue-light;
        }

        .menu-reptiles {
          background-color: $color-green;
        }
      }
    }

    h1 {
      font-size: 4.2rem;
      font-weight: 600;
      text-transform: uppercase;
      width: 50%;
      margin-top: 10rem;
    }

    p {
      margin: 6rem 0;
      width: 45%;
      font-size: 2rem;
    }

    [data-id="schedule-button"] {
      font-size: 2.5rem;
      font-weight: bold;
      padding: 2rem 6rem;
      border-radius: $border-radius-default;
      font-family: "Roboto Slab", serif;
      transition: $transition-default;

      &:hover {
        transition: $transition-default;
        transform: translateY(-0.5rem);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
      }
    }
  }

  /* PETS SECTION */
  .pet-types {
    background-color: $color-white;
    padding: 10rem 0;

    .content-area {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 400px 400px;
      grid-template-areas:
        "dogs dogs cats"
        "birds fish reptiles";
      gap: 2.5rem;

      color: $color-white;
    }

    .pet-type-card {
      width: 100%;
      height: 100%;
      padding: 2rem;
      position: relative;

      .card-info {
        position: absolute;
        bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h2 {
          margin-bottom: -1rem;
        }

        p {
          font-size: 1.5rem;
          margin: 2rem 0;
          text-shadow: 1px 1px 2px $color-black;
        }

        .button {
          background-color: rgba(0, 0, 0, 0.7);
          padding: 1rem 3rem;
          font-size: 2rem;
          font-family: $font-serif;
          border: 2px solid $color-white;
          border-radius: $border-radius-small;
          transition: $transition-default;
        }
      }
    }

    .pet-dogs {
      background: url("/assets/photos/dogs.jpg");
      background-size: 160%;
      background-position: 10% 72.5%;
      grid-area: dogs;
    }

    .pet-cats {
      background: url("/assets/photos/cats.jpg");
      background-size: 160%;
      background-position: 60% 100%;
      grid-area: cats;
    }

    .pet-birds {
      background: url("/assets/photos/birds.jpg");
      background-size: 125%;
      background-position: center;
      grid-area: birds;
    }

    .pet-fish {
      background: url("/assets/photos/fish.jpg");
      background-size: cover;
      background-position: center 20%;
      grid-area: fish;
    }

    .pet-reptiles {
      background: url("/assets/photos/reptiles.jpg");
      background-size: cover;
      background-position: center;
      grid-area: reptiles;
    }
  }

  /* ABOUT DOGGO SECTION */
  .about-doggo {
    background-color: $color-blue;
    padding-top: 5rem;

    .content-area {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    img {
      display: block;
      width: 100%;
      margin-right: 5rem;
      align-self: end;
    }

    .about-info {
      padding-left: 5rem;

      h2 {
        margin-top: 8rem;
        margin-bottom: 5rem;
      }

      p {
        font-size: 2rem;
        line-height: 4rem;
      }
    }
  }

  /* TOP RECOMMENDATIONS */
  .featured-products {
    background-color: $color-white;
    text-align: center;
    padding: 15rem 0;

    h2 {
      color: $color-blue;
    }

    p {
      color: $color-black;
      font-size: 2.5rem;
      margin: 5rem 0;
    }

    h3 {
      color: $color-black;
      font-size: 2rem;
      margin: 2rem 0;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      .product-card {
        img {
          width: 100%;
        }

        p {
          margin: 2rem 0;
        }
      }
    }
  }

  /* ABOUT PAWS CITY SECTION */
  .about-us {
    background-color: $color-red;

    .content-area {
      padding: 10rem 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10rem;
      align-items: center;
    }

    h2 {
      margin-bottom: 6rem;
    }

    p {
      font-size: 2.5rem;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  /* TESTIMONIALS SECTION */
  .testimonials {
    background-color: $color-white;

    .content-area {
      padding: 10rem 0;
      text-align: center;
      position: relative;

      h2 {
        color: $color-blue;
      }

      p {
        color: $color-black;
        font-size: 2.5rem;
        margin: 6rem 0;
      }

      .testimonial {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rem 2.5rem;
        border-radius: $border-radius-default;
        border: 2px solid $color-orange;
        box-shadow: $shadow-default;

        &-text {
          text-align: left;
          flex-basis: 60%;
        }

        p {
          line-height: 3rem;
        }

        p:last-of-type {
          font-weight: bold;
          font-family: $font-serif;
        }

        &-photo {
          border-radius: 50%;
          background-color: orangered;
          width: 300px;
          height: 300px;
          background: url("/assets/photos/testimonial-elaineb.jpg");
          background-size: cover;
          background-position: center;
        }

        .next-button {
          right: -10%;
        }

        .previous-button {
          left: -10%;
        }
      }
    }
  }

  /* CONTACT SECTION */
  .contact-us {
    background-color: $color-purple;
    font-size: 2rem;

    .content-area {
      padding: 10rem 0;
      display: flex;

      h3 {
        font-size: 3rem;
        margin-bottom: 6rem;
      }

      .contact-info {
        flex-basis: 50%;

        h3:nth-of-type(2) {
          margin-top: 6rem;
        }

        address {
          text-transform: uppercase;
          line-height: 3rem;
          font-style: normal;
          margin-bottom: 3rem;
        }

        p {
          margin-bottom: 1rem;
        }

        .social-icons {
          display: flex;

          a {
            display: inline-block;
            width: 60px;
            height: 60px;
            color: $color-purple;
            background-color: $color-purple-light;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            transition: $transition-default;

            &:not(:last-of-type) {
              margin-right: 1.5rem;
            }

            &:hover {
              background-color: $color-white;
            }
          }
        }
      }

      .contact-form {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;

        label {
          text-transform: uppercase;
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }

        input,
        textarea {
          width: 100%;
          font-size: 2rem;
          color: $color-black;
          padding: 1rem 2rem;
          margin-bottom: 3rem;
          font-family: $font-sans;
          border-radius: $border-radius-tiny;
          border: 2px solid transparent;
          transition: $transition-default;

          &:focus {
            outline: none;
            border: 2px solid $color-orange;
            box-shadow: 0 0 10px $color-orange;
          }

          &::placeholder {
            text-transform: uppercase;
          }
        }

        textarea {
          resize: none;
        }

        button {
          font-weight: 600;
        }
      }
    }
  }
}
